body{
    background:url('/img/bg2.jpg') no-repeat  center bottom;
    background-size: cover;
    font-family: 'Roboto', arial;
    min-height: 668px;
}
a, a:link{
    text-decoration: underline;
    color:#333;
}
a:hover{
    color: #000;
}

.container{
    max-width:460px;
}

.navbar.navbar-default,
.jumbotron{background:none;border:0;}


h1,h2,h2{
    text-align:center;
    font-weight:300;
    color:#333;
}
.container form .form-group{text-align: left!important;}
.container button,
.btn.btn-primary{
    display:inline-block;
    background:#333;
    color:#fff;
    border-radius:0;
    border:0;
    padding:10px 30px;
    text-transform: uppercase;
    font-weight:500;
    text-decoration: none;
    margin:0 auto;

}
.container button:hover,
.container button:focus{
    background: #ffc900;
}
form > .form-group{
    max-width:85%;
    margin:20px auto;
}

.form_1 > div{
    border:0px solid red;
    display:inline-block;
    width:40%;
}

