body{
    background:url('/img/bg2.jpg') no-repeat  center bottom;
    background-size: cover;
    font-family: 'Roboto', arial;
    min-height: 668px;
}
a, a:link{
    text-decoration: underline;
    color:#333;
}
a:hover{
    color: #000;
}


.navbar{
margin-bottom:10px!important;
}

.container{
    max-width:460px;
}

.navbar.navbar-default,
.jumbotron{background:none;border:0;}


h1,h2,h2{
    text-align:center;
    font-weight:300;
    color:#333;
}
.container form .form-group{text-align: left!important;}
.container button,
.btn.btn-primary{
    display:inline-block;
    background:#333;
    color:#fff;
    border-radius:0;
    border:0;
    padding:10px 30px;
    text-transform: uppercase;
    font-weight:500;
    text-decoration: none;
    margin:0 auto;

}
.container button:hover,
.container button:focus{
    background: #ffc900;
}
form > .form-group{
    max-width:85%;
    margin:20px auto;
}

.form_1 > div{
    border:0px solid red;
    display:inline-block;
    width:40%;
}


.davidbitton{
    padding:10px;
    box-sizing:border-box;
}
.davidbitton img{border-radius:100%;width:30px;display:inline-block;}
.davidbitton h1{margin:0;font-size:18px;font-weight: 400;margin-left:5%;}

.panel-primary{
    margin-top:10px;
    border:0;
    border-radius: 0;
    background: none;
}
.panel-body{background-color:rgba(255,255,255,.8);}
.panel-footer{
    background: none;
    padding:0;
    margin-top:10px;
}
.panel-footer .input-group input{
    padding:20px 10px;
    border:0;
}